<div class="m-0 p-0 flex flex-col items-center h-[100vh] w-[100vw] bg-black">
  <app-header />
  <div class="w-[50vw] h-full flex pt-10 gap-5">
    <div class="w-2/5 gap-2 flex flex-col">
      @for (user of users; track $index) {
        <app-users (select)="handleSelectedUser($event)" [user]="user" />
      }
    </div>
    <div class="w-3/5 h-full">
      <app-tasks (newAddedTask)="handleNewTask($event)" (complete)="handleCompleted($event)" [tasks]="getTasks" [name]="getName!" [userId]="selectedUserId" />
    </div>
  </div>
</div>